<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard Edukasi</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/cms/adminlte/adminlte.min.css" />
    <link rel="stylesheet" href="/css/cms/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/cms/nav') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../../partials/cms/aside') %>

      <!-- Content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">List Edukasi</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6"></div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="container-fluid d-flex flex-row-reverse">
          <a href="/add-akuakultur" class="add"
            ><i class="fa-solid fa-plus" style="color: white"></i> Tambah</a
          >
        </div>
        <!-- Menampilkan alert jika ada pesan sukses -->
        <% if (typeof successMessage !== 'undefined' && successMessage) { %>
        <div class="alert alert-success"><%= successMessage %></div>
        <% } %> <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <div class="alert alert-danger"><%= errorMessage %></div>
        <% } %>

        <!-- Main content -->
        <section class="content">
          <div
            class="container-fluid"
            style="
              background-color: white;
              border-top: 2px solid #3c8dbc;
              padding-bottom: 15px;
            "
          >
            <!-- Small boxes (Stat box) -->
            <h4>Edukasi</h4>
            <div class="row">
              <div class="container-fluid mt-5">
                <table
                  id="example"
                  class="table table-striped table-bordered"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let i = 1; %> <% akuakultur.forEach(function(data) { %>
                    <tr>
                      <td><%= i %></td>
                      <td><%= data.title %></td>
                      <td><%= data.descripton.substring(0, 50) + '...' %></td>
                      <td>
                        <!-- Tombol Edit -->
                        <a
                          href="/edit-akuakultur/<%= data.id %>"
                          class="btn btn-warning btn-sm"
                          onclick="return confirm('Apakah Anda yakin ingin mengedit data ini?')"
                        >
                          Edit
                        </a>

                        <!-- Tombol Delete -->
                        <form
                          action="/delete-akuakultur/<%= data.id %>"
                          method="POST"
                          style="display: inline-block"
                          onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?')"
                        >
                          <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                          </button>
                        </form>
                      </td>
                    </tr>
                    <% i++; %> <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <!-- /.row (main row) -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>

    <!-- Scripts -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <script src="/dist/js/adminlte.js"></script>
    <script src="/dist/js/pages/dashboard.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
